@charset "utf-8";
/* CSS Document */

.flexbox {
	background-color:cadetblue;
	display: flex;
	flex-flow: wrap;
	flex-direction: row;
	
}

.flexbox p {
	background-color: aliceblue;
	margin: 10px;
	padding: 10px;
	width: 500px;
	flex-grow: 1;
	flex-shrink: 1;
}

.grid {
	background-color: orangered;
	display: inline-grid; 
	grid-template-columns: 200px 200px 200px;
	grid-template-rows: 200px 200px; 
	gap: 10px 30px;
}

.grid p {
	background-color: darkseagreen;
	padding: 20px;
	border: 1px solid yellow;
}

.item_1 {
	/*grid-column: 1/ span 2;
	grid-row: 1/span 2;*/
	grid-area: 1/1/ 3/3; /*start række/start kolonne*/
}





