@charset "utf-8";
/* CSS Document */

div{
	background-image: url("img/Stille-Morgen-1.jpg"); 
	background-size: 100%;
	background-repeat: no-repeat;
	width: 50%;
	float: right;
}

h1{
	position: sticky;
	top: 50px;
	left: 150px;
	color:antiquewhite;
	font-family: "kranto-display-inline", sans-serif;
	font-weight: 900;
	font-style: normal;
	text-align: center;
	font-size; 50px;
	
}

p{
	color:indianred;
	display: inline-block;
	height: 50px;
	width: 300px;
	border: 5px solid red;
	border-style: dotted;
	padding: 20px 10px;
	margin: 10px;
	font-family: "kranto-display", sans-serif;
	font-weight: 700;
	font-style: normal;
	
	
	
}

.baggrund {
	background-color: greenyellow;
	border-style: outset;
}

.baggrund:hover {
	background-color: whitesmoke;
	cursor: pointer
}

* {
	border: 1px solid black
}

