@charset "utf-8";
/* CSS Document */



        .navbar {
            background-color: #7497B9;
            overflow: hidden;
			margin-left: 400px;
			margin-top: 50px;
			margin-right: 10%;
			border-radius: 50px;
        }
        .navbar a {
            float: left;
            display: block;
            color: #FFF3E5;
            text-align: center;
            padding: 20px 20px;
            text-decoration: none;
        }
        .navbar a:hover {
            background-color: #657889;
        }
        .navbar a.active {
            background-color: #657889;
        }

.circle {
	background-color: #7497B9;
	height: 300px;
	width: 300px;
	border-radius: 200px;
	position:absolute;
	top: -100px;
	left: -50px;
}

.logo {
	position:relative;
	width: 175px;
	left: 10px;
	top: -110px;
	filter: invert();
	
}



.headline {
	text-align: center;
	color: #6B5240;
	position:absolute;
	top: 150px;
	left: 700px;
	
}


.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
	position:absolute;
	top: 220px;
}

.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}




.contact-section-1 {
	width: 400px;
    height:175px;
    text-align: center;
	position: absolute;
	right: 75px;
	bottom: 230px;
	list-style-type: none;
	font-size: 20px;
	color: #FFF3E5;
	line-height: 5px;
}

.contact-section-2 {
	width: 400px;
    height:100px;
    text-align: center;
	position: absolute;
	right: 225px;
	bottom: 200px;
	list-style-type: none;
	font-size: 20px;
	color: #FFF3E5;
	line-height: 50px;
}

.fat-text {
	font-weight: 700;
	font-size: 30px;
}

.portrait {
	width: 350px;
	position: relative;
	bottom: 250px;
	right: -250px;
	filter: drop-shadow(30px 10px 30px rgba(0,0,0,0.50))
}

.contact-circle {
	background-color: #7497B9;
	height:750px;
	width: 750px;
	border-radius: 400px;
	position:absolute;
	right: -100px;
	bottom: -300px;
	
}


