@charset "utf-8";
/* CSS Document */


@media screen and (max-width:1050px){
	
	.navbar {
		display:none;
	}	
	.burger-menu {
		width:20px;
		
	}
	
	
}

@media screen and (max-width:650px){
	.headline {
		border-top-width: 100px;
		margin-top: 200px; 
	}
}


        .navbar {
			font-family: "de-walpergens-pica", sans-serif;
			font-weight: 400;
			font-style: normal;
            background-color: #7497B9;
            overflow: hidden;
			margin-left: 400px;
			margin-top: 50px;
			margin-right: 10%;
			border-radius: 50px;
        }
        .navbar a {
            float: left;
            display: block;
            color: #FFF3E5;
            text-align: center;
            padding: 20px 20px;
            text-decoration: none;
        }
        .navbar a:hover {
            background-color: #657889;
        }
        .navbar a.active {
            background-color: #657889;
        }

.circle {
	background-color: #7497B9;
	height: 300px;
	width: 300px;
	border-radius: 200px;
	position:absolute;
	top: -100px;
	left: -50px;
}

.logo {
	position:absolute;
	width: 175px;
	left: 10px;
	top: 10px;
	filter: invert();
	
}



.headline {
	font-family: "de-walpergens-pica", sans-serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	color: #6B5240;
	
}
